/* Login and validate Otp Alert Style*/
.invalid-alert {
  color: #932037;
  background-color: #fdd7de;
  border-color: #fcc3ce;
  display: flex;
  justify-content: space-between; /* This moves text and icon to opposite sides */
  align-items: center;
}

.success-alert {
  color: #155724; /* Dark green for text */
  background-color: #d4edda; /* Light green for background */
  border-color: #c3e6cb; /* Medium green for border */
  display: flex;
  justify-content: space-between; /* This moves text and icon to opposite sides */
  align-items: center;
}
